@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #8ecae6, #219ebc);
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #023047;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.header {
    background: linear-gradient(to bottom, #fb8500, #ffb703);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.footer {
    background: linear-gradient(to bottom, #fb8500, #ffb703);
    color: #fff;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.content {
    padding: 20px;
    color: #fff;
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.full-width {
    font-size: 17px;
    text-align:justify;
    width: 100%;
    box-sizing: border-box;
}

.details {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto 10px;
    background: #fb8500;
    border-radius: 5px;
    transition: 0.3s;
    overflow: hidden;
}

.details::after {
    position: absolute;
    right: 24px;
    top: 15px;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-right: 3px solid #023047;
    border-bottom: 3px solid #023047;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: .3s;
}

.details[open]::after {
    background: #fb8500;
    transform: rotate(45deg);
}

.details[open] {
    background: #fb8500;
    padding-bottom: 100px;
}

.details[open] .details__title {
    background: linear-gradient(to bottom, #ffb703, #fb8500);
    margin-bottom: 32px;
}

.details__title {
    background: linear-gradient(to bottom, #ffb703, #fb8500);
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 20px;
    cursor: pointer;
    list-style: none;
    font-weight: 500;
    transition: .3s;
}

.details__title::-webkit-details-marker {
    display: none;
}

.details__content {
    background: #fb8500;
    padding: 0 32px;
    font-size: 18px;
    margin-bottom: -50px;
}

.details__content p:last-child {
    margin-bottom: 0;
}
.details__content p:first-child {
    margin-top: 0;
}

.user-info a {
    color: #FFFFFF;
}

.underline {
    text-decoration: underline;
}
